*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color:black;
}

.container{
    background-color: rgb(169, 244, 244);
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header {
    background-color: aquamarine;
    width: 100%;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.header h1{
    font-size: 65px;
 font-family: sans-serif ;
}

.section {
    width: 100%;
    display: flex;
    background-color: white;
    justify-content: space-around;
    padding: 20px;
}

.section .btn{
    padding: 10px;
    background-color: aquamarine;
    border: none;
    outline: none;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 23px;
    border-radius: 5px;

}

.footer{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,200px);
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
}


.footer .square{
    width: 200px;
    height: 200px;
    background-color: brown;
    border-radius: 15px;

}
.fade{
     opacity: 0;
     transition: all 0.5s;
}